/*
 * MetaSV for MVC API Spec
 * API definition for MetaSV provided apis
 *
 * The version of the OpenAPI document: 3.0.4
 * Contact: heqiming@metasv.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.metasv.mvc.client.openapi.api;

import com.metasv.mvc.client.openapi.ApiCallback;
import com.metasv.mvc.client.openapi.ApiClient;
import com.metasv.mvc.client.openapi.ApiException;
import com.metasv.mvc.client.openapi.ApiResponse;
import com.metasv.mvc.client.openapi.Configuration;
import com.metasv.mvc.client.openapi.Pair;
import com.metasv.mvc.client.openapi.ProgressRequestBody;
import com.metasv.mvc.client.openapi.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.metasv.mvc.client.openapi.model.TreasuryHistory;
import com.metasv.mvc.client.openapi.model.TreasuryInfo;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TreasuryApi {
    private ApiClient localVarApiClient;

    public TreasuryApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TreasuryApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for treasuryGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get treasury info success. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call treasuryGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/treasury";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call treasuryGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = treasuryGetCall(_callback);
        return localVarCall;

    }

    /**
     * Get current treasury info.
     * 
     * @return TreasuryInfo
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get treasury info success. </td><td>  -  </td></tr>
     </table>
     */
    public TreasuryInfo treasuryGet() throws ApiException {
        ApiResponse<TreasuryInfo> localVarResp = treasuryGetWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get current treasury info.
     * 
     * @return ApiResponse&lt;TreasuryInfo&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get treasury info success. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TreasuryInfo> treasuryGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = treasuryGetValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<TreasuryInfo>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get current treasury info. (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Get treasury info success. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call treasuryGetAsync(final ApiCallback<TreasuryInfo> _callback) throws ApiException {

        okhttp3.Call localVarCall = treasuryGetValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<TreasuryInfo>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for treasuryHistoryGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call treasuryHistoryGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/treasury/history";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call treasuryHistoryGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = treasuryHistoryGetCall(_callback);
        return localVarCall;

    }

    /**
     * Get all treasury history.
     * 
     * @return List&lt;TreasuryHistory&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public List<TreasuryHistory> treasuryHistoryGet() throws ApiException {
        ApiResponse<List<TreasuryHistory>> localVarResp = treasuryHistoryGetWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get all treasury history.
     * 
     * @return ApiResponse&lt;List&lt;TreasuryHistory&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<TreasuryHistory>> treasuryHistoryGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = treasuryHistoryGetValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<List<TreasuryHistory>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get all treasury history. (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> successfully get lists </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call treasuryHistoryGetAsync(final ApiCallback<List<TreasuryHistory>> _callback) throws ApiException {

        okhttp3.Call localVarCall = treasuryHistoryGetValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<List<TreasuryHistory>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
